<a href="https://colab.research.google.com/github/tanvisharma0109/ML-with-Python/blob/main/Assignment2%263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:

path_2_train_file = '/content/drive/MyDrive/assignment_new_2020/assignment_new_2020/train.csv'
df = pd.read_csv(path_2_train_file)

In [ ]:
df.shape

(1999999, 332)

In [ ]:
colnames=df.columns

In [ ]:
import pandas
import random

n = 1999999 #number of records in file
s = 40000 #desired sample size
filename = path_2_train_file
skip = sorted(random.sample(range(n),n-s))
df_sample = pandas.read_csv(filename, skiprows=skip)

In [ ]:

df_sample.shape

(40000, 332)

In [ ]:
df_sample.columns=colnames

In [ ]:
df_sample.head()

   day  user_id  item_id  col2    col3  ...  col326  col327  col328  col329  label
0  466   278613  7523547   0.0  0.4904  ...       0       1       0       0      0
1  466   701596  7523515   0.0  0.3116  ...       0       1       0       0      0
2  466  7635508  7538264   0.0  0.3066  ...       0       1       0       0      0
3  466   246396  7538280   0.0  0.2920  ...       0       1       0       0      0
4  466  1093432  7523547   0.0  0.2840  ...       0       1       0       0      0

[5 rows x 332 columns]

In [ ]:
del df

In [ ]:
df2 = df_sample.drop(['day','item_id','user_id'], axis=1)

In [ ]:
X = df2.loc[:, df2.columns != "label"]

In [ ]:
y = df2.loc[:, df2.columns == "label"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.30, random_state = 0, stratify = y)

In [ ]:

from imblearn.over_sampling import SMOTE
sm = SMOTE(sampling_strategy = 'minority', random_state = 123)
X_train, y_train = sm.fit_resample(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:

from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=123, n_estimators=60)
rfc.fit(X_train, y_train)
pred_rfc = rfc.predict_proba(X_test)
y_pred_rfc = rfc.predict(X_test)

In [ ]:

print(rfc.score(X_train, y_train))
print(rfc.score(X_test, y_test))

0.9999763145428707
0.7775833333333333

In [ ]:

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_rfc))

              precision    recall  f1-score   support

           0       0.80      0.94      0.86      9047
           1       0.61      0.27      0.38      2953

    accuracy                           0.78     12000
   macro avg       0.70      0.61      0.62     12000
weighted avg       0.75      0.78      0.74     12000

In [ ]:

from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test, y_pred_rfc))

[[8528  519]
 [2150  803]]

In [ ]:

from sklearn.model_selection import cross_val_score
from numpy import mean
scores = cross_val_score(rfc, X, y, scoring='roc_auc',n_jobs=-1)
print('Mean ROC AUC: %.3f' % mean(scores))

Mean ROC AUC: 0.779

In [ ]:

df_test = pd.read_csv('/content/drive/MyDrive/assignment_new_2020/assignment_new_2020/test.csv')

df_test.head()

   day  user_id  item_id  col2    col3  ...  col326  col327  col328  col329  label
0  526     5282  8228074   0.0  0.1378  ...       0       0       0       0      1
1  526   337986  8228074   0.0  0.3173  ...       0       0       0       0      1
2  526  3201104  8228074   0.0  0.1843  ...       0       0       0       0      1
3  526  6331063  8228074   0.0  0.4333  ...       0       0       0       0      1
4  526   652231  8228074   0.0  0.2973  ...       0       0       0       0      1

[5 rows x 332 columns]

In [ ]:

del df_test['label']

In [ ]:

df_test = df_test.drop(['day','item_id','user_id'], axis=1)

In [ ]:

prediction = pd.DataFrame(rfc.predict_proba(df_test), columns=['Prob_0','Prob_1'])
df_test['Prob_0'] = prediction['Prob_0']
df_test['Prob_1'] = prediction['Prob_1']

In [ ]:

Result = pd.DataFrame()

In [ ]:

Result['Prob_0'] = df_test['Prob_0']

Result['Prob_1'] = df_test['Prob_1']

Result.to_csv("Prediction_Results.csv")